# Dependencies
node_modules
/.pnp
.pnp.js

# Next.js build output
.next/
out/
build/.next/
build/out/
build/node_modules/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env
